<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="{{&css}}" rel="stylesheet">
    <script src="{{&jquery}}"></script>
    <script>
    
    $( document ).ready(function() {
      
      /* adding event listeners */
      $( '#del' ).click(function() {
        $( 'del' ).each(function( i ) {
            this.style.display = 'inline';
            $ ( this ).addClass( 'no-decoration' );
          });
            $( 'ins' ).each(function( i ) {
            this.style.display = 'none';
            $ ( this ).removeClass( 'no-decoration' );
          });
          $ ( '#color' ).removeClass( 'nodisp');
          $ ( '#ins' ).removeClass( 'nodisp');
          $ ( '#del' ).addClass( 'nodisp');
          $ ( '#diff' ).removeClass( 'nodisp');
      });
      
      
      $( '#ins' ).click(function() {
        $( 'ins' ).each(function( i ) {
            this.style.display = 'inline';
            $ ( this ).addClass( 'no-decoration' );
          });
          $( 'del' ).each(function( i ) {
            this.style.display = 'none';
            $ ( this ).removeClass( 'no-decoration' );
          });
          $ ( '#color' ).removeClass( 'nodisp');
          $ ( '#del' ).removeClass( 'nodisp');
          $ ( '#ins' ).addClass( 'nodisp');
          $ ( '#diff' ).removeClass( 'nodisp');
      });
      
      
      $( '#diff' ).click(function() {
        $( 'del, ins').each(function( i ){
            this.style.display = 'inline';
            $( this ).removeClass( 'no-decoration' );
            if ($( this ).hasClass('no-highlighting')) {
              $( this ).removeClass('no-highlighting');
            }
            
          });
          $( '#diff-body p' ).each(function( i ){
            if ($( this ).hasClass('no-changes') === false && $( this ).hasClass('changes') === false) {
              $( this ).addClass('changes');
            }
          });
          $ ( '#color' ).addClass( 'nodisp');
          $ ( '#ins' ).removeClass( 'nodisp no-decoration');
          $ ( '#del' ).removeClass( 'nodisp no-decoration');
          $ ( '#diff' ).addClass( 'nodisp');
      });
      
      
      $( '#color' ).click(function() {
        $( 'del, ins').each(function( i ){
          if ($ ( this ).hasClass('no-highlighting')) {
              $ ( this ).removeClass('no-highlighting');
          } else {
            $ ( this ).addClass('no-highlighting');
          }
        });
        $( '#diff-body p' ).each(function( i ){
            if ($( this ).hasClass('no-changes') === false && $( this ).hasClass('changes')) {
              $( this ).removeClass('changes');
            } else if ($( this ).hasClass('no-changes') === false && $( this ).hasClass('changes') === false) {
              $( this ).addClass('changes');
            }
          });
      });
      
    });
    

      



    </script>
  </head>
  <body>
    <div id="buttons">
      <button id="del" type="button">A</button>
      <button id="ins" type="button">B</button>
      <button id="diff" class="nodisp" type="button">Diff</button>
      <button id="color" class="nodisp" type="button">Color</button>
    </div>
    <div id="wrapper">
      <!--<code>-->
      
        {{&body}}
      
      <!--</code>-->
    </div>
  </body>
</html>
