body {
  padding: 0.1em;
  font-family: Helvetica, Arial, Verdana, sans-serif; 
  font-size: 0.82em;
  }
  
code {
  color: black;
  }
  
ins {
  color: green;
  }
  
del {
  color: red;
  }
  
p {
  white-space: pre;
  margin: 0 0 0.3em 0;
  }
  
.linebreak {
  white-space: pre-line;
}
  
.no-decoration {
  text-decoration: none;
  }
  
.nodisp {
  display: none;
  }

.changes {
  background-color: rgba(200, 200, 200, 0.5);
  }
  
.no-highlighting{
  color: black;
  text-decoration: none; 
  background-color: rgba(255, 255, 255, 0);
  }
  
p.meta, p.fragfunc {
  background-color: rgba(200, 200, 255, 0.5);
 }
p.meta:first-of-type, p.fragfunc {
  border-top: 1px solid rgba(200, 200, 255, 1);
  }


p.fragfunc {
  margin-top: 1em;
  
  }

#buttons {
  position: fixed; 
  top: 0.5em;
  right: 0.5em;
  z-index: 999;
  }

#command {
  margin-bottom: 1em;
  font-size: 1.1em;
  max-width: 500px;
  }

#diff-body {
  padding: 0.4em;
 }

#wrapper {
  top: 1em;
  position: absolute; 
}
