body {
  padding: 0.1em;
  font-family: Helvetica, Arial, Verdana, sans-serif; 
  font-size: 0.82em;
  }
  
code {
  color: black;
  }
  
ins {
  color: green;
  }
  
del {
  color: red;
  }
  
p {
  white-space: pre;
  margin: 0;
  }
  
.no-highlighting{
  color: black;
  text-decoration: none; 
  }
  
.no-decoration {
  text-decoration: none;
  }
  
.nodisp {
  display: none;
  }

.changes {
  background-color: rgba(200, 200, 200, 0.5);
  }

#buttons {
  position: fixed; 
  top: 0.5em;
  right: 0.5em;
  z-index: 999;
  }

#command {
  margin-bottom: 1em;
  font-size: 1.1em;
  max-width: 500px;
  }

#diff-header {
  background-color: rgba(200, 200, 255, 0.5);
  margin-bottom: 1em;
  margin-right: 0.4em;
  padding: 0.4em
 }

#diff-body {
  padding: 0.4em;
 }

#wrapper {
  top: 1em;
  position: absolute; 
}
