body {
  padding: 5px;
  }
  
code {
  color: black;
  }
  
ins {
  color: green;
  }
  
del {
  color: red;
  }
  
.no-highlighting{
  color: black;
  text-decoration: none; 
  }
  
.no-decoration {
  text-decoration: none;
  }
  
.nodisp {
  display: none;
  }

.changes {
  background-color: rgba(200, 200, 200, 0.5);
  }

#buttons {
  position: fixed; 
  top: 5px;
  right: 15px;
  z-index: 999;
  }
  
#diff-header {
  background-color: rgba(200, 200, 255, 0.5);
}

#wrapper {
  top: 5px;
  position: absolute; 
}
